
<section class="pragraph">
    <p>پاسخگوی عزیز</p>
    <p>ضمن تشکر از زمانی که برای پاسخگویی به این پرسشنامه صرف نموده‌اید، این اطمینان به شما داده می‌شود که اطلاعات و نتایج این پرسشنامه به صورت گروهی تحلیل و بررسی می‌گردد و هیچ یک از این اطلاعات در اختیار افراد یا گروه‌های دیگر قرار نخواهد گرفت.</p>
    <p>برای شما سلامتی و شادی روزافزون را آرزومندیم.</p>
    <p>با احترام؛ دانشجویان دکتری روان‌شناسی دانشگاه گیلان.</p>
</section>
