
<section class="pragraph">
    <p>با سلام و درود فراوان</p>
    <p>پاسخگوی عزیز</p>
    <p>این پرسشنامه در راستای یک پژوهش علمی در زمینه‌ی شناخت پیامدهای روان‌شناختی ویروس کرونا طراحی شده است. خواهشمند است با تکمیل پرسشنامه، ما را در انجام این پژوهش یاری نمایید. لازم به ذکر است نتایج پژوهش بصورت گروهی تجزیه و تحلیل خواهد شد و اطلاعات شخصی شما بدون ذکر نام و نام‌خانوادگی محفوظ خواهد ماند.</p>
    <p>پیشاپیش از وقتی که صرف می‌کنید، نهایت تشکر را داریم</p>
</section>

<section class="form">
    <form class="frm-identification" method="post" role="form">
        <div class="form-group age-group">
            <header>رده سنی:</header>
            <input type="radio" name="age" id="2030" value="1" />
            <label for="2030" class="quarter">20 تا 30 سال</label>
            <input type="radio" name="age" id="3040" value="2" />
            <label for="3040" class="quarter">30 تا 40 سال</label>
            <input type="radio" name="age" id="4050" value="3" />
            <label for="4050" class="quarter">40 تا 50 سال</label>
            <input type="radio" name="age" id="50" value="4" />
            <label for="50" class="quarter">بالای 50 سال</label>
        </div>

        <div class="form-group gender-group">
            <header>جنسیت:</header>
            <input type="radio" name="gender" id="female" value="0" />
            <label for="female" class="quarter">زن</label>
            <input type="radio" name="gender" id="male" value="1" />
            <label for="male" class="quarter">مرد</label>
        </div>

        <div class="form-group province-group">
            <header>استان محل سکونت:</header>
            <input type="text" class="full" name="province" id="state" placeholder="استان محل سکونت" />
        </div>

        <div class="form-group marital-group">
            <header>وضعیت تاهل:</header>
            <input type="radio" name="marital" id="single" value="0" />
            <label for="single" class="quarter">مجرد</label>
            <input type="radio" name="marital" id="married" value="1" />
            <label for="married" class="quarter">متاهل</label>
        </div>

        <div class="form-group job-group">
            <header>وضعیت شغلی:</header>
            <input type="radio" name="job" id="employed" value="1" />
            <label for="employed" class="quarter">شاغل</label>
            <input type="radio" name="job" id="unemployed" value="2" />
            <label for="unemployed" class="quarter">بیکار</label>
            <input type="radio" name="job" id="coronavirus" value="3" />
            <label for="coronavirus" class="half">به خاطر کرونا شغلم را از دست دادم</label>
        </div>

        <div class="form-group income-group">
            <header>وضعیت درآمد:</header>
            <input type="radio" name="income" id="low" value="1" />
            <label for="low" class="third">پایین (زیر 3 میلیون تومان)</label>
            <input type="radio" name="income" id="medium" value="2" />
            <label for="medium" class="third">متوسط (3 تا 7 میلیون تومان)</label>
            <input type="radio" name="income" id="high" value="3" />
            <label for="high" class="third">بالا (بیش از 7 میلیون تومان)</label>
        </div>

        <div class="form-group education-group">
            <header>تحصیلات:</header>
            <input type="radio" name="education" id="highschool" value="1" />
            <label for="highschool" class="third">زیردیپلم</label>
            <input type="radio" name="education" id="diploma" value="2" />
            <label for="diploma" class="third">دیپلم</label>
            <input type="radio" name="education" id="associate" value="3" />
            <label for="associate" class="third">فوق دیپلم</label>
            <input type="radio" name="education" id="bachelor" value="4" />
            <label for="bachelor" class="half">کارشناسی</label>
            <input type="radio" name="education" id="master" value="5" />
            <label for="master" class="half">کارشناسی ارشد و بالاتر</label>
        </div>

        <div class="form-group infection-group">
            <header>آیا تا کنون دچار بیماری کرونا شده اید؟</header>
            <input type="radio" name="infection" id="negative" value="0" />
            <label for="negative" class="quarter">خیر</label>
            <input type="radio" name="infection" id="positive" value="1" />
            <label for="positive" class="quarter">بلی</label>
        </div>

        <div class="form-group coronapositive-group disease-group">
            <header>لطفا نوع بیماری خود را مشخص کنید.</header>
            <input type="radio" name="disease" id="light" value="1" />
            <label for="light" class="full">خفیف (احساس ناخوشی ضعیف)</label>
            <input type="radio" name="disease" id="likecold" value="2" />
            <label for="likecold" class="full">علائمی شبیه به سرماخوردگی (آبریزش بینی، تب با درجه کم، سرفه های کم)</label>
            <input type="radio" name="disease" id="likeinfluenza" value="3" />
            <label for="likeinfluenza" class="full">شبیه یک درگیری عفونت آنفلوآنزایی (تب و لرز، کاهش اشتها، درد عضلانی)</label>
            <input type="radio" name="disease" id="lunginfection" value="4" />
            <label for="lunginfection" class="full">عفونت ریه (ناراحتی تنفسی حاد، دردهای بدنی شدید)</label>
        </div>

        <div class="form-group coronapositive-group diagnosis-group">
            <header>روش تشخیص بیماری را ذکر بفرمایید.</header>
            <input type="radio" name="diagnosis" id="doctor" value="1" />
            <label for="doctor" class="quarter">تشخیص پزشک</label>
            <input type="radio" name="diagnosis" id="pcr" value="2" />
            <label for="pcr" class="quarter">تست کرونا</label>
            <input type="radio" name="diagnosis" id="self" value="3" />
            <label for="self" class="half">صرف داشتن علائم بدون مراجعه به پزشک</label>
        </div>

        <div class="form-group coronapositive-group duration-group">
            <header>چه مدت از ابتلای شما می گذرد؟</header>
            <input type="radio" name="duration" id="2weeks" value="1" />
            <label for="2weeks" class="half">کمتر از دو هفته</label>
            <input type="radio" name="duration" id="2wto1m" value="2" />
            <label for="2wto1m" class="half">بین دو هفته تا یک ماه</label>
            <input type="radio" name="duration" id="1to3month" value="3" />
            <label for="1to3month" class="third">یک تا سه ماه</label>
            <input type="radio" name="duration" id="3to6month" value="4" />
            <label for="3to6month" class="third">سه تا شش ماه</label>
            <input type="radio" name="duration" id="more" value="5" />
            <label for="more" class="third">بیش از شش ماه</label>
        </div>

        <div class="form-group coronapositive-group symptoms-group">
            <header>بعد از بهبودی کدام یک از علائم شما ماندگار بوده؟ لطفا شدت و مدت ماندگاری علائم را ذکر فرمایید.</header>

            <label class="question full">سردرد و سرگیجه</label>
            <input type="radio" name="headach1" id="hverymild" value="1" /><label for="hverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="headach1" id="hmild" value="2" /><label for="hmild" class="sixth">خفیف</label>
            <input type="radio" name="headach1" id="hmoderate" value="3" /><label for="hmoderate" class="sixth">متوسط</label>
            <input type="radio" name="headach1" id="hsevere" value="4" /><label for="hsevere" class="sixth">شدید</label>
            <input type="radio" name="headach1" id="hverysevere" value="5" /><label for="hverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="headach2" placeholder="مدت (روز)" />

            <label class="question full">سرفه</label>
            <input type="radio" name="cough1" id="cverymild" value="1" /><label for="cverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="cough1" id="cmild" value="2" /><label for="cmild" class="sixth">خفیف</label>
            <input type="radio" name="cough1" id="cmoderate" value="3" /><label for="cmoderate" class="sixth">متوسط</label>
            <input type="radio" name="cough1" id="csevere" value="4" /><label for="csevere" class="sixth">شدید</label>
            <input type="radio" name="cough1" id="cverysevere" value="5" /><label for="cverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="cough2" placeholder="مدت (روز)" />

            <label class="question full">ضعف و درد عضلانی</label>
            <input type="radio" name="weakness1" id="wverymild" value="1" /><label for="wverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="weakness1" id="wmild" value="2" /><label for="wmild" class="sixth">خفیف</label>
            <input type="radio" name="weakness1" id="wmoderate" value="3" /><label for="wmoderate" class="sixth">متوسط</label>
            <input type="radio" name="weakness1" id="wsevere" value="4" /><label for="wsevere" class="sixth">شدید</label>
            <input type="radio" name="weakness1" id="wverysevere" value="5" /><label for="wverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="weakness2" placeholder="مدت (روز)" />

            <label class="question full">از دست دادن حس بویایی</label>
            <input type="radio" name="anosmia1" id="averymild" value="1" /><label for="averymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="anosmia1" id="amild" value="2" /><label for="amild" class="sixth">خفیف</label>
            <input type="radio" name="anosmia1" id="amoderate" value="3" /><label for="amoderate" class="sixth">متوسط</label>
            <input type="radio" name="anosmia1" id="asevere" value="4" /><label for="asevere" class="sixth">شدید</label>
            <input type="radio" name="anosmia1" id="averysevere" value="5" /><label for="averysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="anosmia2" placeholder="مدت (روز)" />

            <label class="question full">استشمام بوهای ناخوشایند و متعفن</label>
            <input type="radio" name="prosmia1" id="pverymild" value="1" /><label for="pverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="prosmia1" id="pmild" value="2" /><label for="pmild" class="sixth">خفیف</label>
            <input type="radio" name="prosmia1" id="pmoderate" value="3" /><label for="pmoderate" class="sixth">متوسط</label>
            <input type="radio" name="prosmia1" id="psevere" value="4" /><label for="psevere" class="sixth">شدید</label>
            <input type="radio" name="prosmia1" id="pverysevere" value="5" /><label for="pverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="prosmia2" placeholder="مدت (روز)" />

            <label class="question full">از دست دادن حس چشایی</label>
            <input type="radio" name="taste1" id="tverymild" value="1" /><label for="tverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="taste1" id="tmild" value="2" /><label for="tmild" class="sixth">خفیف</label>
            <input type="radio" name="taste1" id="tmoderate" value="3" /><label for="tmoderate" class="sixth">متوسط</label>
            <input type="radio" name="taste1" id="tsevere" value="4" /><label for="tsevere" class="sixth">شدید</label>
            <input type="radio" name="taste1" id="tverysevere" value="5" /><label for="tverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="taste2" placeholder="مدت (روز)" />

            <label class="question full">اختلال خواب</label>
            <input type="radio" name="insomnia1" id="iverymild" value="1" /><label for="iverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="insomnia1" id="imild" value="2" /><label for="imild" class="sixth">خفیف</label>
            <input type="radio" name="insomnia1" id="imoderate" value="3" /><label for="imoderate" class="sixth">متوسط</label>
            <input type="radio" name="insomnia1" id="isevere" value="4" /><label for="isevere" class="sixth">شدید</label>
            <input type="radio" name="insomnia1" id="iverysevere" value="5" /><label for="iverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="insomnia2" placeholder="مدت (روز)" />

            <label class="question full">تکرر ادرار</label>
            <input type="radio" name="urination1" id="uverymild" value="1" /><label for="uverymild" class="sixth">خیلی خفیف</label>
            <input type="radio" name="urination1" id="umild" value="2" /><label for="umild" class="sixth">خفیف</label>
            <input type="radio" name="urination1" id="umoderate" value="3" /><label for="umoderate" class="sixth">متوسط</label>
            <input type="radio" name="urination1" id="usevere" value="4" /><label for="usevere" class="sixth">شدید</label>
            <input type="radio" name="urination1" id="uverysevere" value="5" /><label for="uverysevere" class="sixth">خیلی شدید</label>
            <input type="text" class="sixth" name="urination2" placeholder="مدت (روز)" />
        </div>

        <div class="form-group underlying-group">
            <header>در صورت ابتلا به بیماری های زمینه ای نوع آن را مشخص کنید:</header>
            <input type="checkbox" name="hypertension" id="hypertension" />
            <label for="hypertension" class="third">فشار خون</label>

            <input type="checkbox" name="diabetes" id="diabetes" />
            <label for="diabetes" class="third">دیابت</label>

            <input type="checkbox" name="overweight" id="overweight" />
            <label for="overweight" class="third">اضافه وزن</label>

            <input type="checkbox" name="cardiovascular" id="cardiovascular" />
            <label for="cardiovascular" class="half">بیماری های قلبی- عروقی</label>

            <input type="checkbox" name="respiratorylung" id="respiratorylung" />
            <label for="respiratorylung" class="half">بیماری‌های تنفسی و ریوی</label>

            <input type="checkbox" name="kidney" id="kidney" />
            <label for="kidney" class="third">بیماری‌های کلیوی</label>

            <input type="checkbox" name="cancer" id="cancer" />
            <label for="cancer" class="third">سرطان</label>

            <input type="checkbox" name="ms" id="ms" />
            <label for="ms" class="third">ام اس</label>
        </div>

        <div class="form-group newssources-group">
            <header>معمولاً اطلاعات خود را در مورد بیماری کرونا از چه منابعی کسب می‌کنید؟</header>

            <input type="checkbox" name="irib" id="irib" />
            <label for="irib" class="news-label third">اخبار صدا و سیما</label>
            <input type="text" name="iribchannel" class="full-third" placeholder="عنوان بخش خبری صدا و سیما" />

            <input type="checkbox" name="satellite" id="satellite" />
            <label for="satellite" class="news-label third">شبکه‌های ماهواره‌ای خارج از ایران</label>
            <input type="text" name="satellitechannel" class="full-third" placeholder="عنوان بخش خبری شبکه ماهواره‌ای" />

            <input type="checkbox" name="instagram" id="instagram" />
            <label for="instagram" class="news-label third">اینستاگرام</label>
            <input type="text" name="instagrampage" class="full-third" placeholder="عنوان صفحه اینستاگرام" />

            <input type="checkbox" name="telegram" id="telegram" />
            <label for="telegram" class="news-label third">تلگرام</label>
            <input type="text" name="telegramchannel" class="full-third" placeholder="عنوان کانال تلگرامی" />

            <input type="checkbox" name="tweeter" id="twitter" />
            <label for="twitter" class="news-label third">توییتر</label>
            <input type="text" name="twitterpage" class="full-third" placeholder="عنوان صفحه توییتر" />

            <input type="checkbox" name="whatsapp" id="whatsapp" />
            <label for="whatsapp" class="news-label half">واتسپ</label>

            <input type="checkbox" name="friends" id="friends" />
            <label for="friends" class="news-label half">دوستان و خویشاوندان</label>

            <input type="checkbox" name="website" id="website" />
            <label for="website" class="news-label third">وبسایت‌های خبری</label>
            <input type="text" name="websiteaddress" class="full-third" placeholder="آدرس وبسایت خبری" />

            <input type="checkbox" name="newspaper" id="newspaper" />
            <label for="newspaper" class="news-label third">مجلات و روزنامه‌ها</label>
            <input type="text" name="newspapertitle" class="full-third" placeholder="عنوان مجله یا روزنامه" />
        </div>
    
        <input type="submit" value="صفحه بعد" />
    </form>
</section>